
/*body {background-color: #e6e6e6;}*/
/*font-family: 'Playfair Display', serif;*/
.menu {
margin:100px 100px 100px 100px;
border:500px 50px 50px 50px;
padding: 100px 100px 100px 100px;
background-color:#dddddd;
width:650px;
}