ul {
    background-color: #333;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
}

#front-page-image {width: 100%;}

img {
    max-width: 100%;
    max-height: 100%;
}

input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
box-sizing: border-box;}
input[type=email] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
box-sizing: border-box;}
input[type=tel] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
box-sizing: border-box;}
input[type=date] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
box-sizing: border-box;}
input[type=time] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
box-sizing: border-box;}
input[type=text]:focus {
    background-color: lightblue;
	}
input[type=email]:focus {
    background-color: lightblue;
}
input[type=tel]:focus {
    background-color: lightblue;
}
input[type=date]:focus {
    background-color: lightblue;
}
input[type=time]:focus {
    background-color: lightblue;
}

textarea {
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #808080;
    resize: none;
}
select {
    width: 10%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

}