/* This code imports  the font on the site.*/
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

/* This code sets the size of the fonts on the site.*/
body {
    font-size: 100%;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.875em;
}

p {
    font-size: 0.875em;
}

/*this code sets up boxes for controling the top menu.*/

.menuebox {
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.menuebox > * {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

/*end of this code sets up boxes for controling the top menu.*/

/*this code manages the display of list items for the header and footers of all the pages.*/

.headerfooterlist ul {
    background-color: #333;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.headerfooterlist li {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
}

.headerfooterlist li {
    float: left;
}

/*end of this code manages the display of list items for the header and footers of all the pages.*/

/*this code manages the display of main peace of text on the page.*/

.article {
    text-align: left;
}
header {background: #ffffff;color:white;}
footer {background: #ffffff;color:white;}
.nav {background:#eee;}

.nav ul {
    list-style-type: none;
    padding: 0;
}
.nav ul a {
    text-decoration: none;
}
.nav {
    width: 6%;

}

@media all and (min-width: 768px) {

.nav {
text-align:left;
-webkit-flex: 1 auto;
flex:1 auto;
-webkit-order:1;
order:1;
}
.article {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
footer {-webkit-order:3;order:3;}
}



/*this code improves backwards compatibility with browsers developed before html 5.*/

header, section, footer, aside, nav, main, article, figure {
    display: block; 
} 

/*Manage front page immage.*/

#front-page-image {width: 100%;}

img {
    max-width: 100%;
    max-height: 100%;
}

/*this code manages the display of the text entry fields in the forms.*/

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
box-sizing: border-box;}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
box-sizing: border-box;}

input[type=tel] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
box-sizing: border-box;}

input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
box-sizing: border-box;}

input[type=time] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
box-sizing: border-box;}

/*this code manages the colour of the form elements when they are selected by the user.*/

input[type=text]:focus {
    background-color: lightblue;
	}
input[type=email]:focus {
    background-color: lightblue;
}
input[type=tel]:focus {
    background-color: lightblue;
}
input[type=date]:focus {
    background-color: lightblue;
}
input[type=time]:focus {
    background-color: lightblue;
}

/*this code manages the display of the text box in the forms.*/

textarea {
    width: 25%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #808080;
    resize: none;
}

/*this code manages the display of the selection box in the forms.*/

select {
    width: 10%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

/*Hide legend in form.*/
/*this code comes from https://developer.mozilla.org/en-US/docs/Learn/HTML/Forms/Styling_HTML_forms*/

legend {
  width: 0px;
  height: 0px;
  overflow: hidden;
}

/*end of code to manage form.*/

/*This code manages the immages and videos on the recipes.html page.*/

div.img {
    border: 1px solid #ccc;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*end of This code manages the immages and videos on the recipes.html page.*/