#container {
    margin: 0;
    padding: 0;
}

/*this code sets up boxes for controling the top menu.*/
.menuebox {
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.menuebox > * {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

/*end of this code sets up boxes for controling the top menu.*/


/*end of this code manages the display of list items for the header and footers of all the pages.*/

/*this code manages the display of main piece of text on the page.*/

.article {
    text-align: left;
}

header {
    background: #ffffff;
    color:white;
}

footer {
    background: #aaaa;
    color:white;
}

.nav {
    background:#eee;
}

.nav ul {
    list-style-type: none;
    padding: 0;
}

.nav ul a {
    text-decoration: none;
}

.nav {
    width: 2%;
}

@media all and (min-width: 768px) {

.nav {
    text-align:left;
    -webkit-flex: 1 auto;
    flex:1 auto;
    -webkit-order:1;
    order:1;
    }

.article {
    -webkit-flex:5 0px;
    flex:5 0px;
    -webkit-order:2;
    order:2;
    }

footer {
    -webkit-order:3;order:3;
    }

}

/*Manage front page immage.*/

#front-page-image {width: 100%;}

img {
    max-width: 100%;
    max-height: 100%;
}

/*this code manages the display of the text entry fields in the forms.*/

input[type=text] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=email] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=tel] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=date] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=time] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

/*this code manages the colour of the form elements when they are selected by the user.*/


input[type=text]:focus {
    background-color: lightblue;
}

input[type=email]:focus {
    background-color: red;
}

input[type=tel]:focus {
    background-color: red
}

input[type=date]:focus {
    background-color: red
}

input[type=time]:focus {
    background-color: red
}

/*this code manages the display of the text box in the forms.*/

textarea {
    width: 40%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #808080;
    resize: none;
}

/*this code manages the display of the selection box in the forms.*/

select {
    width: 10%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

/*Hide legend in form.*/
/*this code comes from https://developer.mozilla.org/en-US/docs/Learn/HTML/Forms/Styling_HTML_forms*/

legend {
  width: 0px;
  height: 0px;
  overflow: hidden;
}

/*end of code to manage form.*/

/*This code manages the immages and videos on the recipes.html page.*/

div.img {
    border: 1px solid #ccc;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: left;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*end of This code manages the immages and videos on the recipes.html page.*/

/* ronan code for menus */
.menu-container {
    width: inherit;
    margin: auto;
    /*opacity: 0.3;*/
    font-family: 'Lobster', cursive;
    color: #fff;
    border: 1px solid gray;
    line-height: 130%;
    display: block;
    background-image: url("../images/abendbrot-939435_1920.jpg");
}

#top {
    padding: 0.5em;
    background-color: #ddd;
    border-bottom: 1px solid gray;
}

#top h1 {
    padding: 0;
    margin: 0;
}

#leftnav {
    float: left;
    width: 200px;
    margin: 0;
    padding: 1em;
}

#rightnav {
    float: right;
    width: 200px;
    margin: 0;
    padding: 1em;
}

#content {
    margin-left: 200px;
    border-left: 1px solid gray;
    margin-right: 200px;
    border-right: 1px solid gray;
    padding: 1em; 
    text-align: center;
}

#footer {
    clear: both;
    margin: 0;
    padding: .5em;
    color: #333;
    /*background-color: #ddd; 
    border-top: 1px solid gray;*/
}

#leftnav p, #rightnav p {
    margin: 0 0 1em 0;
}

#content h2 {
    margin: 0 0 .5em 0;
}


/* style that makes a dropdown menu */
.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.topnav li {
    float: left;
}

.topnav li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav li a:hover, .dropdown:hover .dropbtn {
    background-color: #ddd;
}

.topnav li.dropdown {
    display: inline-block;
}

.topnav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 99;
}

.topnav .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav .dropdown-content a:hover {background-color: #f1f1f1}

.topnav .dropdown:hover .dropdown-content {
    display: block;
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    width: auto;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav ul {
    margin: 0 auto;
    display: inline;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav .social {
    float: right;
    height: inherit;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav li:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {
      position: relative;
    }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    }
  .topnav.responsive li {
    float: none;
    display: block;
    text-align: left;
    }
}
*menu buttons- example taken form w3c schools*/
button.menubutton {
    background-color: #333;
    border: 15% 32%;
    color: white;
    padding: 2% 3%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}